.ltng-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.ltng-form-field-container {
    display: flex;
    flex-direction: column;
}

.ltng-form-error-msg {
    color: red;
    font-size: 12px;
    min-height: 15px;
    display: block;
}
