.ltng-input-wrapper {
    border: 3px solid var(--ltng-color-primary);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    width: 100%;
    padding: 0 0 5px 0;
    position: relative;
    font-family: inherit;
    display: flex;
    flex-direction: column;
}

.ltng-input-wrapper--dark {
    background-color: #333;
}

.ltng-input-wrapper--light {
    background-color: whitesmoke;
}

.ltng-input-label {
    z-index: 2;
    position: relative;
    top: -12px;
    left: 10px;
    margin: 0;
    padding: 0 6px;
    width: max-content;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    line-height: 1.2;
}

.ltng-input-label--dark {
    background-color: #333;
    color: #ffffff;
}

.ltng-input-label--light {
    background-color: whitesmoke;
    color: #000000;
}

.ltng-input-field {
    height: 24px;
    max-height: 24px;
    border: none;
    font-size: 16px;
    font-family: inherit;
    outline: none;
    padding: 0 10px;
    width: calc(100% - 20px);
}

.ltng-input-field--secret {
    width: calc(100% - 40px);
}

.ltng-input-field--dark {
    background-color: #333;
    color: #ffffff;
}

.ltng-input-field--light {
    background-color: whitesmoke;
    color: #000000;
}

.ltng-input-secret-toggle {
    z-index: 3;
    position: absolute;
    background-color: transparent;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.ltng-input-secret-toggle--dark {
    color: #ffffff;
}

.ltng-input-secret-toggle--light {
    color: #000000;
}
