.ltng-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ltng-modal-overlay {
    position: absolute;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #333; */
    background-color: #811e1e;
    opacity: 0.6;
    z-index: 1;
}

.ltng-modal-content {
    width: 100%;
    max-width: 500px;
    max-height: 90vh;
    height: auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}

.ltng-modal-content--dark {
    background-color: #444;
    color: white;
}

.ltng-modal-content--light {
    background-color: whitesmoke;
    color: black;
}
