.ltng-toast-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: visible;
    z-index: 2000;
}

.ltng-toast-card {
    position: fixed;
    width: 400px;
    height: 100px;
    top: 20px;
    right: 20px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.ltng-toast-card--warning {
    background-color: whitesmoke;
    color: var(--ltng-color-primary);
    border: 1px solid var(--ltng-color-primary);
}

.ltng-toast-card--success {
    background-color: var(--ltng-color-primary);
    border: none;
}

.ltng-toast-card--failure {
    background-color: #8b0000;
    border: none;
}

.ltng-toast-card--default-dark {
    background-color: #333;
    color: white;
}

.ltng-toast-card--default-light {
    background-color: whitesmoke;
    color: black;
}
